body {
  font-family: sans-serif;
  text-align: center;
  background-color: #24273a;
}

.navbar {
  overflow: hidden;
  background-color: #181926;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

.navbar a {
  float: left;
  display: block;
  color: #cad3f5;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background: #939ab7;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 25vh;
}

.scroll-down {
  position: absolute;
  bottom: 2.5rem;
  left: 0;
  width: 100%;
  text-decoration: none;
}

.scroll-down a {
  color: #3489ee;
}

.mouse {
  border: 2px solid #3489ee;
  display: block;
  height: 1.6rem;
  width: 1.25rem;
  margin: .75rem auto auto;
  border-radius: 1rem;
  position: relative;
}

.shapes, .wheel {
    position: absolute;
}

.wheel {
  background-color: #3289ee;
  position: absolute;
  border-radius: 100%;
  width: .25rem;
  height: .25rem;
  top: .5rem;
  left: 50%;
  transform: translateX(-50%);
  animation: ani-mouse 1.5s linear infinite;
}

@keyframes ani-mouse {
    0% { top:29%; }
    15% { top: 50%; }   
    50%{ top: 50%; }
    100%{ top: 29%; }
}
